a {
  text-decoration: none;
  color: black;
}

.users-container,
.bio-container,
.posts-container {
  display: flex;
  align-items: center;
  margin-top: 10px;
  border: 1px solid black;
}

.users-container:hover,
.posts-container:hover {
  background-color: rgba(24, 0, 0, 0.055);
  transition: 0.5s;
}

.comments-container {
  margin-top: 10px;
  border: 1px solid black;
}

.user-photo {
  margin: 30px 30px;
  border: 1px solid black;
  height: 60px;
  width: 60px;
}

.text-usercard-index,
.post-footer-text {
  margin: 15px 30px 0 auto;
}

.text-bio {
  margin-left: 15px;
}

.posts-title-container {
  margin: 15px 15px;
}

.text-post {
  width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.see-all-posts-btn {
  text-align: center;
}

.comments-text {
  margin: 10px 15px;
}

.add-new-post-btn {
  margin: 20px 0;
  text-align: center;
}

.new-post-title {
  text-align: center;
  margin-bottom: -50px;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid black;
  margin: 5px 0;
}
